.place__title {
    max-width: 460px;
    max-height: 152px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1010px) {
    .place__title {
        font-size: 42px;
    }
}

@media screen and (max-width:385px) {
    .place__title {
        width: 95%;
        font-size: 32px;
        margin-left: auto;
        margin-right: auto;
    }
}