.place__title {
    max-width: 460px;
    width: 100%;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    align-self: center;
}

@media screen and (max-width:1100px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width:900px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 1.1;
        align-self: flex-start;
    }
}

@media screen and (max-width:385px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
        margin-left: 16px;
    }
}