.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 16px;
    column-gap: 16px;
    justify-items: center;
    margin: 0 0 92px 0;
    padding:0;
}

@media screen and (max-width:1195px) {
    .photo-grid {
    max-width: 980px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 14px;
    column-gap: 14px;
    }
}

@media screen and (max-width:950px) {
    .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 16px;
    column-gap: 16px;
    }
}


@media screen and (max-width: 741px) {
    .photo-grid {
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    row-gap: 12px;
    column-gap: 12px;
    }
}
