.places {
   max-width: calc(100% - 100px*2);
   width: 100%;
}

@media screen and (max-width:1100px) {
   .places {
      max-width: calc(100% - 48px*2);
   }
}

@media screen and (max-width:880px) {
   .places {
      max-width: calc(100% - 24px*2);
   }
}

@media screen and (max-width:320px) {
   .places {
       max-width: 100%;
   }
}