.photo-grid__item {
    max-width: 284px;
    max-height: 213px;
    object-fit: contain;
    object-position: center;
}

@media screen and (max-width:1195px) {
    .photo-grid__item {
        max-width: 300px;
        max-height: 225px;
    }
}

@media screen and (max-width:900px) {
    .photo-grid__item {
        max-width: 352px;
        max-height: 264px;
    }
}

@media screen and (max-width:740px) {
    .photo-grid__item {
        max-width: 500px;
        width: 95vw;
    }
}

@media screen and (max-width:400px) {
    .photo-grid__item {
        max-width: 288px;
    }
}