.header {
    display: flex;
    width: 100%;
    max-width: 1184px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 28px auto 0;
}

@media screen and (max-width:1280px) {
    .header {
        width: 92%;
    }
}

@media screen and (max-width:400px) {
    .header {
        width: 92%;
        margin-top: 16px;
    }
}