.place__text {
    max-width: 484px;
    width: 100%;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    margin: 0 0 26px 0;
    padding: 0;
}

.place__text:last-child {
    margin-bottom: 0;
}

@media screen and (max-width:1010px) {
    .place__text {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width:725px) {
    .place__text {
        max-width: 100%;
    }
}

@media screen and (max-width:345px) {
    .place__text {
        max-width: 288px;
        margin-left: 16px;
    }
}