.footer__link {
    max-width: 106px;
    width: 100%;
    margin: 0 18px 0 0;
    list-style-type: none;
    padding: 0;
}

.footer__link:last-child {
    margin: 0;
}

@media screen and (max-width:710px) {
    .footer__link {
        max-width: 158px;
        margin-bottom: 32px;
    }
}