.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
}

@media screen and (max-width:710px) {
    .footer__links {
    width:100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 48px;
    align-items: flex-start;
    }
}