.intro__text {
    max-width: 690px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.63;
    color: #FFFFFF;
    margin-bottom: 0 0 33px 0;
}
