.footer__link-text {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.footer__link-text:hover {
    opacity: 40%;
}

  @media screen and (max-width:710px) {
    .footer__link-text {
        width: 100%;
        font-size: 24px;
        line-height: 1;
        align-items: flex-start;
    }
}