.lead__subtitle {
    max-width: 640px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 64px auto;
    padding: 0;
    }

@media screen and (max-width:1100px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width:600px) {
    .lead__subtitle {
        max-width: 288px;
        font-size:20px;
    }
}
    
@media screen and (max-width:340px) {
    .lead__subtitle {
        font-size:16px;
        line-height: 1.25;
        margin-bottom: 40px;
    }
}
