.cover {
    display: flex;
    max-width: 1184px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 92px;
    margin-bottom: 92px;
}

@media screen and (max-width:900px) {
    .cover{
        margin-top: 90px;
        margin-bottom: 88px;
    }
}


@media screen and (max-width:400px) {
    .cover{
        margin-top: 66px;
        margin-bottom: 64px;
    }
}



