.place__link {
    width: 100%;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    object-fit: content;
}

.place__link:hover {
    opacity: 40%;
  }