.cover__title {
    max-width: 560px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 auto;
    z-index: 5;
}

@media screen and (max-width:600px) {
    .cover__title {
        max-width: 400px;
        font-size: 50px;
    }
}

@media screen and (max-width:400px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
}