.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 48px;
    column-gap: 40px;
    justify-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 32px 0;
    padding: 0;
}

@media screen and (max-width:740px) {
    .place {
       row-gap: 32px;

    }
}

@media screen and (max-width:320px) {
    .place {
       max-width: 100%;
    }
}
