.footer {
    display: flex;
    width: 100%;
    max-width: 1184px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto 24px auto;
}

@media screen and (max-width:1184px) {
    .footer {
        max-width: 928px;
        width: 95%;
    }
}

@media screen and (max-width:1184px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width:850px) {
    .footer {
        max-width: 720px;
    }
}


@media screen and (max-width:710px) {
    .footer {
        max-width: 288px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        margin-bottom: 22px;
    }
}