.place__website {
    max-width: 456px;
    width: 100%;
    align-self: end;
}

@media screen and (max-width:345px) {
    .place__website {
        max-width: 288px;
        width: 95%;
        align-self: center;
        margin-left: 16px;
    }
}